.activityContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 280px 0 32px;
  margin: 0 auto;
  align-items: center;
}

.loading {
  color: #65558F;
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-top: 280px;
}

.errorMessage {
  margin-top: 30vh;
  height: 50vh;
}