.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 240px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  padding: 16px 5%;
  max-width: calc(250px * 5 + 20px * 4);
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.loading {
  color: #65558F;
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-top: 280px;
}

.contentArea {
  position: relative;
  z-index: 1;
  padding-top: 240px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0 32px;
  width: 100%;
}

.errorMessage {
  margin-top: 30vh;
  height: 50vh;
}