.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
}

.top {
    margin-bottom: 24px;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}

.middle .left {
    width: 180px;
    flex-shrink: 0;
}

.middle .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 40px;
}


.bottom {}
