/* src/styles/global.css */
:root {
    --Schemes-Surface-Container-High: #ECE6F0;
    --Schemes-On-Surface-Variant: #49454F;
    --Schemes-On-Surface: #1D1B20;
    --Schemes-Surface-Container-Low: rgba(247, 242, 250);
    --Schemes-Secondary-Container: rgba(232, 222, 248);
    --Schemes-Inverse-On-Surface: #F5EFF7;
    --Schemes-Outline-Variant: #CAC4D0;
    --Colors-Orange: #FF9500;
    --Schemes-Primary: rgba(101, 85, 143);
    --Schemes-Surface: #FEF7FF;
    --Border-Default-Default: #D9D9D9;
    --Grays-Gray: #8E8E93;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FEF7FF;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main-layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.page-content {
    overflow-y: auto;
    width: 88%;
    height: 100%;
    /*padding: 24px 32px;*/
    background: #ffffff;
    border-radius: 32px 32px 0 0;
    outline: 1px var(--Border-Default-Default, #D9D9D9) solid;
    margin: 1px;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
}

.loadingText {
    font-size: 24px;
    font-weight: 500;
    color: var(--Schemes-On-Surface, #1D1B20);
}

.loadingImg {
    width: 250px;
    height: 250px;
    margin-bottom: 16px;
}