.loginRegister-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px 20px;
    background-color: #f3f0f7;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.buttonActive {
    width:130px;
    background-color: #C3BAD0;
    color: Black;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.buttonInactive {
    width:130px;
    background-color: #e0e0e0;
    color: #605f61;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.forgot-password {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}
.input-hint {
    font-size: 16px;
    color: #0c0c0c;
    width: 100%;
    text-align: left;
    padding-left: 4px;
    box-sizing: border-box;
}
.input-field {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #f7f6f6;
}
.tableBar {
    display: flex;
    justify-content: center; 
    gap:0px;
    width: 240px;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 3px 3px;
}
.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    padding: 10px 20px;
    background-color: #FEF7FF;
    color: black;
    border: none;
    border-radius: 5px;
}
.email-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    padding: 10px 20px;
    background-color: #FEF7FF;
    color: black;
    border: none;
    border-radius: 5px;
}
.input-form{
    width:240px;
    background-color: #f3f0f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.button-form{
    width:240px;
    background-color: #f3f0f7;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}