.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 384px;
    height:209px;
    gap:10px;
    font-family: sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.coverContainer {
    position: relative;
    width: 159px;
    height: 212px;
    flex-shrink: 0;
}

.coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.updateLabel {
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
}

.infoSection {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.headerRow {
    display: flex;
    cursor: pointer;
}

.headerRow:hover {
    color: deepskyblue;
}

.title {
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #080808;
}

.ratingRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:auto;
    margin: 0;
}

.description {
    font-size: 12px;
    color: #444;
    margin: 5px 0;
    overflow: hidden;
    height:auto;
    max-height: 120px;
    width:185px;
    line-height: 1.5;
    overflow-y: auto;
}

.tagContainer {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: auto;
}

.tag {
    background-color: #49454F;
    color: #F5F5F5;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 4px;
}
