.heartBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.heartBtnOverlay {
    width: 26px;
    height: 26px;
    justify-content: center;
}

.heartBtn:hover .heartOutlined{
    color: #f2b9d4;
}

.heartFilled {
    color: #f2b9d4;
}
.heartFilledOverlay {
    color: #ff9fc5;
    filter:
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.75))
        drop-shadow(0 0 1px rgba(255, 255, 255, 0.75))
        drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
}

.heartOutlined {
    color: black;
}
.heartOutlinedOverlay {
    color: #ffffff;
    filter:
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.75))
        drop-shadow(0 0 1px rgba(255, 255, 255, 0.75))
        drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}