.heartBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.heartBtn:hover .heartOutlined{
    color: #f2b9d4;
}

.heartFilled {
    color: #f2b9d4;
}

.heartOutlined {
    color: black;
}