/* DeveloperCard*/
.card {
    display: flex;
    flex-direction: column;
    background-color: #E7E0EC;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    min-height: 268px;
    font-family: sans-serif;
    color: #111827;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    gap: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.topbar {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
}

.avatar {
    width: 85px;
    height: 85px;
    border-radius: 100px;
    object-fit: cover;
}

.basicInfo {
    display: flex;
    flex-direction: column;
}

.developerName {
    font-weight: 700;
    font-size: 16px;
}

.email {
    font-size: 14px;
    color: #4b5563;
}

.link {
    font-size: 14px;
    color: #4f46e5;
    text-decoration: underline;
    margin-top: 4px;
}

.biography {
    font-size: 14px;
    margin-bottom: 12px;
}

.moreInfo {
    font-size: 14px;
    color: #4b5563;
}

/* AboutView */
.aboutView {
    width: 100%;
    height: 100%;
    padding: 40px 40px 30px 40px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.topRow {
    margin-bottom: 100px;
    text-align: left;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro {
    font-size: 16px;
    color: #555;
}

.developersIntro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 10%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.developerCardContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.linksRow {
    display: flex;
    align-items: center;
}