/* DeveloperCard*/
.card {
    display: flex;
    flex-direction: column;
    background-color: #E7E0EC;
    padding: 20px;
    border-radius: 16px;
    width: 476px;
    height: 268px;
    font-family: sans-serif;
    color: #111827;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    gap: 5px;
}

.topbar {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
}

.avatar {
    width: 85px;
    height: 85px;
    border-radius: 100px;
    object-fit: cover;
}

.basicInfo {
    display: flex;
    flex-direction: column;
}

.developerName {
    font-weight: 700;
    font-size: 16px;
}

.email {
    font-size: 14px;
    color: #4b5563;
}

.link {
    font-size: 14px;
    color: #4f46e5;
    text-decoration: underline;
    margin-top: 4px;
}

.biography {
    font-size: 14px;
    margin-bottom: 12px;
}

.moreInfo {
    font-size: 14px;
    color: #4b5563;
}

/* AboutView */
.aboutView {
    width: 100%;
    height: 90%;
    padding: 20px 40px 0 40px;
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.topRow {
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro {
    font-size: 16px;
    color: #555;
}

.developersIntro {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    gap: 30px;
    justify-content: start;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.developerCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksRow {
    display: flex;
    align-items: center;
}