.container {
    width: 100%;
    padding: 18px;
    border-radius: 12px;
    background-color: #fbf8ff;
    border: 1px solid #e0dfe3;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #000;
}

.item {
    margin-bottom: 8px;
}

.label {
    font-weight: 600;
}

.value {
    margin-left: 2px;
    white-space: pre-wrap;
}
