.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 4px;
    width: 150px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.image {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 8px;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    font-size: 12px;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
}

.tag {
    background-color: #eae6f9;
    font-size: 12px;
    border-radius: 6px;
    padding: 2px 6px;
    white-space: nowrap;
}

.heartBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

