.container {
    padding: 0 13%;
}

.popularitySection {
    margin-top: 10px;
}

.popularityTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: #1D1B20;
    height: 80px;
}

.popularityList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.popularityItem {
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #CAC4D0;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    object-fit: cover;
}

.itemContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemTitleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemTitle{
    margin: 0 0 10px 0;
    cursor: pointer;
}

.sideBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 10px;
}

.itemTitle:hover {
    color: deepskyblue;
}

.stars {
    display: flex;
    gap: 4px;
}

.star {
    width: 20px;
    height: 20px;
    background: #FF9500;
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}

.category {
    font-size: 14px;
    color: #49454F;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: #49454F;
    line-height: 1.5;
    margin: 0;
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.recommendationWrapper {
    width: 100%;
    margin: 32px auto 0;
}

.recommendationBanner {
    position: relative;
    height: 540px;
    border-radius: 28px;
    overflow: hidden;
}

.recommendationImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center 25%;
    top: 0;
    left: 0;
}

.recommendationOverlay {
    position: relative;
    height: 100%;
    padding: 0 0 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
            180deg,
            rgba(192, 192, 192, 0.4) 0%,
            rgba(128, 128, 128, 0.5) 20%,
            rgba(96, 96, 96, 0.6) 50%,
            rgba(64, 64, 64, 0.7) 100%
    );
    z-index: 1;
}

.recommendationText {
    color: white;
    margin-bottom: 12px;
    max-width: 90%;
    height: 70%;
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.introText {
    margin: 5px 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}

@media (max-width: 768px) {
    .recommendationText {
        max-width: 100%;
        padding-right: 24px;
    }

    .title {
        font-size: 32px;
    }
}
